{% extends "base.html" %}
{% block content %}

<h1>Introduction</h1>
<p>Even when the law protects you, those protections usually do you little good if you are unaware of their existence. Even after reading the lease, you may be unaware of when your rights supersede or even contradict the terms in that document. And when the vast majority of tenants facing eviction lack legal representation, it is absolutely essential to at least have an accessible way to learn your rights. That knowledge could save you from being homeless tonight.</p>
<p>The Eviction Fighter is intended to help tenants and attorneys who serve them fight unlawful evictions. It helps users drill down on and understand the legal issues facing them.</p>

<h2>There is a Disconnect Between Law and Need in Evictions</h2>
<p>Many tenants remain at a disadvantage when landlord-tenant conflicts arise. Tenants facing eviction or living in poorly maintained buildings often under-utilize legal resources at their disposal. The most common reasons one may fail to use available legal remedies seem to be:<p>
  <ul>
    <li>Lack of knowledge that a remedy exists, or that the affected tenant is entitled to use this remedy;</li>
    <li>Lack of knowledge about local court procedures for using a small claims court or making another type of pro se claim, including when a harmed tenant believes they are unable to access the courts without an attorney, and when they are unable to obtain free legal aid or do not know how to do so; and</li>
    <li>Cost of hiring an attorney (when hiring an attorney is in fact necessary), whether that cost is unaffordable or simply uneconomical compared to the value (or perceived value) of a potential claim.
      <ul>
        <li>Note that many who believe that the cost of hiring an attorney prevents them from exercising their legal rights are often able to avoid this cost entirely if made aware of pro se and free legal aid opportunities.</li>
      </ul>
    </li>
  </ul>


{% endblock %}
