<!DOCTYPE html>
<html>
  <head>
    <title>Eviction Fighter</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
      	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
      	<meta name="apple-mobile-web-app-capable" content="no" />
      	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
      	<meta property="og:type" content="website"/>
      	<meta property="og:title" content="Eviction Fighter"/>
      	<meta property="og:description" content="Basic legal information for tenants facing eviction."/>
      	<meta property="og:image" content=""/>
      	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
      	<link rel="apple-touch-icon" href="https://www.qnamarkup.org/images/QnA_300.png"/>
      	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
        	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
        	<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
        <link type="text/css" rel="stylesheet" href="../styles/styles.css"/>
  </head>
  <body BGCOLOR="#ffffff" BACKGROUND="" MARGINWIDTH="0" MARGINHEIGHT="0" onLoad="startAT('1');">

    {% block content %}
    {% endblock %}

  </body>

    <footer>
        <p>&#169; 2018 Product of the Virtual Legal Aid Hackathon</p>
        <p>This tool is not to be used as legal advice. It is best thought of as an interactive alternative to legal FAQs. Always consult an attorney if seeking legal advice.</p>
        <p><a href="#top">Return to the top</a></p>
    </footer>
</html>
